#pizzas{
    .price{
        display: inline;
    }
    .choose-btn{
        width: 200px;
        margin-top: 5px;
        border-radius: 20px;
    }
}


#combo-menu {
    .combo-container {
        .combo-row {
            .col3-pizza {
                .combo-last-menu {
                    width: 286px;
                    height: 190px;

                    .combo-btn {
                        margin-top: 25px;
                    }
                }

                .combo-card-body {
                    .combo-btn {
                        width: 201px;

                    }
                }
            }
        }
    }
}